/**/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*       'Open Sans', sans-serif     */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
/*       'Open Sans Condensed', sans-serif*/

@import url('reset.css');
@import url('grid.css');
@import url('superfish.css');

input {
	outline:  none !important;
	border-radius: 0 !important;	 
}


html {
	width: 100%;
}

 a[href^="tel:"] {
color: inherit;
text-decoration:none;
}

* {
	-webkit-text-size-adjust: none;
}


body {
	font: 14px/20px  Arial, Helvetica, sans-serif;
	color:#a1a1a1;
	background-color: #009fb3;
	position:relative;
	min-width:960px;


}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Open Sans', sans-serif ;
	color: #009fb3;
	text-transform: uppercase;

}

h2 {
	padding-top: 64px;
	text-align: center;
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 48px;
}

h3 {
	text-align: center;
	font-size: 20px;
	line-height: 33px;
	padding-top: 62px;
	margin-bottom: 24px;
	background: url(../images/h3_bg.png) 0 74px repeat-x;
}

h3.head1 {
	background: no-repeat;
	text-align: left;
	padding-top: 62px;
}

h3.head2 {
	margin-top: -42px;
}


h3.head3 {
	padding-bottom: 30px;
	margin-top: -30px;
}

h3.head1.h1 {
	padding-top: 59px;
}

.page1 h3 {
	background-position: 0 13px;
	padding-top: 0;
	margin-bottom: 54px;
}


h3 span {
	padding: 0 36px;
	background-color: #fff;
	display: inline-block;
}
h2>span {
	padding-top: 18px;
	color: #abaaaa;

	display: block;
	font-size: 24px;
	line-height: 33px;
}

p {
	margin-bottom: 20px;
}

img {
	max-width: 100%;
}

address {
	font-style: normal;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list {
	padding-right: 19px;
}



ul.list li+li {
	margin-top: 29px;
	padding-top: 29px;
	border-top: 1px solid #d1d1d1;
}

ul.list1 {
	margin-top: -1px;
}

ul.list1 li {
	text-decoration: underline;
	padding-left: 36px;
	padding-top: 1px;
	background: url(../images/marker.png) 0 0px no-repeat;
}

ul.list1 li+li {margin-top: 11px;}


ul.list1.l1 {
	padding-top: 16px;
	float: left;
	width: 50%;
}

ul.list1.l1 li {
	text-decoration: none;
	color: #626262;
	background-position: 0 1px;
}
/*links*/

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #009fb3;
	
}

a.btn {
	color: #fd9220;
	font: bold 14px/20px 'Open Sans Condensed', sans-serif;
	display: inline-block;
	margin-top: 33px;
}

a.btn:hover {
	color: #009fb3;
}

/*preclass*/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}

.mb1  {
	margin-bottom: 25px !important;
}

.ind1 {
	margin-top: 11px;
}

.pad0 {
	padding: 0 !important;
}


.pt0 {
	padding-top: 0;
}

.img_inner {
	max-width: 100%;
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
	margin-bottom: 19px;
 position: relative;
}

.fleft {
	float: left;
	margin-right: 18px;
	margin-top: 5px;	
	margin-bottom: 0px;
}

.page1 .fleft {
	margin-top: 1px;
	margin-right: 22px;
}

.fright {
	float: right !important;

}

.upp {
	text-transform: uppercase;
}

.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}


/*header*/

header {
	display: block;
	position: relative;
	z-index: 999;
	padding: 31px 0 29px;
}


h1 {
	float: left;
	z-index: 999;

}
h1 a {
	display: block;
	overflow: hidden;
	width: 161px;
	height: 45px;
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

h1 a img {
	display: block;	
}

/*Content*/

.col1 {
	color: #fd9220;
}

.col2  {
	color: #5fabb5;
}

.col3 {
	color: #626262;
}

.content {
	background-color: #fff;
	padding-bottom: 68px;
}

.page1 .content {
	padding-bottom: 70px;

}

.icon {
	text-align: center;
}

.icon img {
	margin-bottom: 18px;
}

.icon .title {
	font: 24px/33px 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #626262;
	margin-bottom: 19px;
}

.page1 .icon {
	margin-bottom: 59px;
}

.works {
	overflow: hidden;
	padding-top: 1px;
	margin-bottom: 53px;
}

.works .clear {
	height: 21px;
}

blockquote {
	padding-top: 1px;
	font-family: 'Open Sans', sans-serif;
}

blockquote p {
	font-family: Arial, Helvetica, sans-serif;;
	padding-top: 4px;
	margin-bottom: 8px;
}



.team {
	padding-top: 7px;
	margin: 0 -10px;
	overflow: hidden;
}

.team img {
	margin-bottom: 6px;
	border: 1px solid #d1d1d1;
}

.team .clear {
	height: 29px;
}

.text1 {
	font-size: 20px;
	text-transform: uppercase;
}

.port {
	overflow: hidden;
	padding-top: 5px;
}

.port a.gal {
	display: block;
	line-height: 0;
	margin-top: 0;
	font-size: 0;
	margin-bottom: 	30px;
	background: url(../images/magnifier.png) center center no-repeat #000;

}

.port .clear {
	height: 28px;
}


.port a {
	font: 14px/18px 'Open Sans Condensed', sans-serif;
	display: inline-block;
	margin-top: 5px;
	text-transform: uppercase;
}

.port .text1 {
	margin-bottom: 7px;
	font-size: 18px;
}

a.gal img {
	width: 100%;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
a.gal:hover img {
	opacity: 0.76;
}

.pb1 {
	padding-bottom: 7px;
}

.logos {
	overflow: hidden;
	padding-top: 28px;
	margin-bottom: 38px;
}

.logos img {
	border: 1px solid #d3d3d3;
}

p.text1 {
	font-family:  'Open Sans', sans-serif;
	padding-bottom: 14px;
}
/****Map***/

.map {
	padding-top: 12px;
}

.map figure {

	width: 100%;
		 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
 display: block;
margin-bottom: 43px;

}
.map figure iframe {
	width: 100%;
	height: 325px;
	max-width: 100%;
}


.map address {
	padding-top: 10px;
	overflow: hidden;
	line-height: 20px;
}


address dt {
	color: #000;
}


address dd span {
	min-width: 85px;
	display: inline-block;
	text-align: left;
}



/************Footer***********/

footer {
	display: block;
	padding: 23px 0 ;
	font-size: 12px;
	color: #d7d7d7;
}

footer a:hover {
	color: #fd9220;
}



.copy {
	padding-top: 9px;
	padding-bottom: 23px;

}


.socials {
	overflow: hidden;
	float: right;
}

.socials a {
	float: left;
	display: block;
	background: url(../images/socials.png) 0 0 no-repeat;
	width: 35px;
	height: 35px;
}

.socials a+a {
	margin-left: 7px;
	background-position: -42px 0;
}

.socials a+a+a {
	background-position: -84px 0;
}

.socials a+a+a+a {
	background-position: right 0;
}

.socials a:hover {
	opacity: 0.5;
}

/*------------------------------------------------------------CREAR------------------------------------------------*/
.pagina-inicio {
    width: 360px;
    height: 100%;
    padding: 0 0 0;
    margin: auto;
}

.formulario {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
}

.introducir {
    font-family: "Roboto",sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.botones {
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    color: #ffffff;
    font-size: 14px;
    transition: all 0.3 ease;
}

    .botones:hover, .botones:active, .botones:focus {
        background: #43A047;
    }

.formulario .mensaje {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

    .formulario .mensaje a {
        color: #4caf50;
        text-decoration: none;
    }
.principal {
    height: 100%;
    background: white;
    width:100%;
}

/*--------------------------------------------------GriedView------------------------------------------*/
.mydatagrid {
    margin-top:3%;
    width: 95%;
    border: solid 2px black;
    min-width: 80%;
}
    .mydatagrid a /** FOR THE PAGING ICONS  **/ {
        background-color: Transparent;
        padding: 5px 5px 5px 5px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }

        .mydatagrid a:hover /** FOR THE PAGING ICONS  HOVER STYLES**/ {
            background-color: #000;
            color: #fff;
        }

    .mydatagrid span /** FOR THE PAGING ICONS CURRENT PAGE INDICATOR **/ {
        background-color: #c9c9c9;
        color: #000;
        padding: 5px 5px 5px 5px;
    }

.pager {
    background-color: #F44336;
    font-family: Arial;
    color: White;
    height: 30px;
    text-align: left;
}

.mydatagrid td {
    padding: 5px;
}

.mydatagrid th {
    padding: 5px;
}

.encabezado {
    background-color: #646464;
    font-family: Arial;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.rows {
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;
}

    .rows:hover {
        background-color: #ff8000;
        font-family: Arial;
        color: #fff;
        text-align: left;
    }

.selectedrow {
    background-color: #ff8000;
    font-family: Arial;
    color: #fff;
    font-weight: bold;
    text-align: left;
}
/*-----------------------------------div-------------------------------------------*/
.guardar1 {
    width:380px;
    height: auto;
    text-align: center;
   margin:0 auto;
   margin-bottom:5%;
}

/*----------------------------------------------------------Input de Metricas----------------------*/

.input_gestion {
    float: left;
    outline: none;
    border: none;
    width: 250px;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    color: black;
    transition-duration: 0.25s;
    font-weight: 300;
}

    .input_gestion:focus {
        background-color: white;
        width: 300px;
        color:black;
    }

.image_gestion {
    float: left;
    outline: 0;
    border: none;
    width: 250px;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.listas {
    float: left;
    width: 200px;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    margin-right: 5px;
    margin-bottom: 11px;
    color: #888;
    border: none;
    outline: 0;
    cursor: pointer;
    display: inline-block;
}

    .listas:after {
        content: '<>';
        font: 11px "Consolas", monospace;
        color: #aaa;
    }

/*-----------------------------------------------------------Botones css---------------------------*/
.boton_general {
    color: white;
    float: left;
    border: 0;
    padding-bottom: 5px;
    padding-top:5px;
    width: 250px;
    height:inherit;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}
}
    .boton_general:hover {
        background-color: rgb(245, 247, 249);
    }

.botondesaparece {
    margin-left:0px;
    font-size: 2.0rem;
    display: block;
    background-color: #009ac9;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*-----------------------------------------------------------------------TARJETAS-------------------------------------------------*/

.container2 {
    width: 300px;
    padding: 10px;
    color: #FFFFFF;
    float:left;
    margin: 4% 2% 2% 2%;
    background: rgb(76, 76, 76);
    box-shadow: 0 0 20px 0px rgb(47, 47, 47), 0 0 20px 0px rgba(107, 104, 104, 0);
}

.container2 img {
    width: 100%;
}

.container2 .title-card {
    font-size: 15px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    margin-top:-55px;
}

.container2 .rate .fa {
    color: gold;
    letter-spacing: 1px;
    font-size: 14px;
}

.container2 .rate p {
    color: #fff;
    font-weight: 100;
    font-size: 12px;
    display: inline;
}

.container2 span {
    width: 100%;
    color: #FFFFFF;
    display: inline-block;
}

.container2 .map {
    margin: -15px 0 -15px 0;
}

.container2 .phone {
    margin: -5px 0 5px 0;
}

.container2 span p {
    color: #FFFFFF;
    margin-left: 10px;
}

.container2 span p, i {
    font-size: 11px;
    font-weight: 100;
    display: inline-block;
}

.boton_soft {
    width: 48%;
    float:left;
    color: #fff;
    border: none;
    margin-right:1%;
    margin-bottom:1%;
    outline: none;
    cursor: pointer;
    font-size: 10px;
    transition: all 0.3s linear;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to left, rgb(11, 191, 160), rgb(108, 196, 115));
    opacity: 1;
}

.boton_soft:hover {
    background: linear-gradient(to right, rgb(11, 191, 160), rgb(108, 196, 115));
    opacity: 0.9;
}

.container2 p {
    color: #D8DBE2;
    font-size: 9px;
    line-height: 1.0;
    letter-spacing: 0.3px;
    font-family: 'Open Sans', sans-serif;
}

.buttons_userpremiun {
    float: right;
    right: 3%;
    width:8%;
    height:8%;
    margin-top:0%;
    margin-bottom:1%;
    margin-right:2%;
}
/*----------------------------------------------Buscador----------------------------------------------*/
.buscar_contenedor {
    text-align: center;
    position: absolute;
    margin-top: -1%;
    margin-bottom: 5%;
}

/*---------------------------------------------RETROALIMENTACION--------------------------------------*/

#retro_from {
    background-color: #13232f;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px #13232f;
    text-align:center;
}

.title_retro {
    text-decoration: none;
    padding: 15px;
    color: white;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.boton_retro {
    width: 30%;
    background: none;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1.6em;
    text-align: center;
    font-weight: bold;
    margin: 1em auto;
    text-transform: uppercase;
}


.cate_retro {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.listas_retro {
    width: 200px;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    margin-right: 5px;
    margin-bottom: 11px;
    color: #888;
    border: none;
    outline: 0;
    cursor: pointer;
    display: inline-block;
}

.input_retro {
    outline: none;
    border: none;
    width: 250px;
    height:100px;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    color: black;
    transition-duration: 0.25s;
    font-weight: 300;
}
/*--------------------------------------------------------MOSTRAR FEEDBACK-----------------------------------------------*/
#left_feedback{
    width:30%;
    float:left;
    margin-left:4%;
    background:white;
    padding-bottom:5px;
}

#right_feedback {
    width: 60%;
    margin-right: 2%;
    height: 500px;
    overflow-y:auto;
    float: right;
    background: #525667;
}
.comentarios {
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 3px black, inset 0px 0px 2px white;
    padding: 5px;
}

.texto_comentario {
    width:100%;
    color: black;
    font-size: 15px;
    margin-bottom: 25px;

}
.footer_comentario {
    color: #acb4c2;
    font-size: 13px;
}

.title_left {
    font-family: Verdana;
    padding: 5px;
    width: 100%;
    text-align: center;
    color: white;
    height: 30px;
    background: #2196F3;
}

.cuerpo_left {
    font-family: Verdana;
    margin-left: 2%;
    width: 96%;
}

/*-------------------------------------------------------------Cambiar Contraseña---------------------------------------*/
#change_password {
    margin: auto;
    background: white;
    width: 30%;
    box-shadow: 0px 0px 20px rgba(#000, .7);
    font-family: lato;
    color: #333; 
    height:350px;
    border-radius: 10px;
}

#title_password {
    background: #FF3838; 
    padding: 30px 20px; 
    color: white; 
    font-size: 1.2em; 
    font-weight: 600; 
    border-radius: 10px 10px 0 0;
}

#body_password {
    width:90%;
    margin-left:5%;
    margin-bottom:15%;
}

.input_password {
    display: block; 
    width: 78%; 
    margin-left: 20px; 
    margin-top:5%;
    margin-bottom:5%;
    padding: 5px 20px; 
    font-size: 1em;
    border-radius: 3px;
    outline: none; 
    border: 1px solid #ccc;
}

#footer_password {
    width: 90%;
    margin-left: 5%;
}

.button_password {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: inherit; 
    color: white;
    background: #FF3838;
    outline: none;
    border: none;
    padding: 5px 15px;
    font-size: 1.3em;
    font-weight: 400;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(#333, 0.4);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

/*-----------------------------------------------------------POP-UP--------------------------------------------------------------------*/
.pnlBackGround
{
    background-color:white;
    padding:10px;
    width:70%;
}
.modalBackground {
    background: #000;
    filter: alpha(opacity=80);
    opacity: 0.8;
    width:100%;
}
.input_popup 
{
    max-width: 100%;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    line-height: 2em;
    border: 1px solid gray;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    padding: 10px;
    -webkit-transition: height 2s ease;
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
}
.main_popup 
{
    float:left;
    width:100%;
    margin-bottom:1%;
}
.buttonOK_popup {
    max-width: 100%;
    width: 100%;
    font-size: 1em;
    background: #e67e22;
    box-sizing: border-box;
    border:none;
    color: #f5f5f5;
    font-weight: bold;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.buttonCancel_popup{
    float:right;
}

/*---------------------------------------------------------------------------Recomendaciones------------------------------------------------*/
#center_recomendaciones {
    width: 60%;
    margin-right: 2%;
    height: 500px;
    margin-left:20%;
    overflow-y: auto;
    float: left;
    background: #525667;
}

.label_ganadora {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-left:30%;
    margin-bottom:5px;
    color: #ecf0f1;
}