body 
{
background-image: url("i1.jpg");
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#in
{
width: 1000px;
margin: 0 auto;
text-align: left;
}
header
{
color: #bbb7f0;
margin: 0 auto;
text-align: left;
border-color: black;
border-radius: 20px;
box-shadow: 0px  0px 20px rgba(0,0,0,3)
}
h1
{
text-decoration: italic;
color: black;
text-align: left;
}
header hgroup h1
{
border-bottom: solid;
padding-bottom: 10px;
border-width: 1px;
border-color: black ;
text-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}
nav ul li 
{
display: inline-block;
margin-right: 20px;
color: green;
cursor: pointer;
padding: 5px;
}
#l1:hover
{
background-color: white;
border-radius: 5px;
}
nav ul li a {
text-decoration: none;
color: #060344;
}
#p1
{
background-color: #494242;
height: 600px;
color: #bbb7f0;
margin: 0 auto;
text-align: center;
border-radius: 20px;
padding: 20px;
box-shadow: 0px  0px 20px rgba(0,0,0,0.5)
}
#f1
{
color:white;
font-family: cambria;
font-style: italic;
Text-Align: center;
font-size: 30px; 
}
#t11
{
height: 430px;
width:  900px;
}
